* {
  box-sizing: border-box;
  margin: 0;
  word-spacing: 0.2em;
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Verdana', sans-serif;
}

.navbar {
  margin-bottom:0;
  border-radius:0;
}
.navbar-inverse:hover, .navbar-inverse.active {
  background: rgba(47,65,84,0.95);
  text-shadow: none;
  transition:0.25s;
}
.navbar-inverse {
  background: transparent;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  transition:0.25s;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-brand:focus {
  color:#FFF;
}

body {
  -webkit-user-select: none;
}
canvas {
  display:block;
  position:absolute;
  z-index: -1;
}
canvas#maincanvas {
  z-index : -2;
}
canvas#canvas2 {
  z-index : -1;
  pointer-events:none;
}

.tabpane {
  padding:1em 1em;
  background: rgba(47,65,84,0.95);
  display:none;
  border-top:1px solid #1abc9c;
  color:#FFF;
  opacity: 1;
  transition: opacity 0s linear;
}
.tabpane.active {
  display:block;
}
.tabpane.dissolve {
  opacity: 0;
  transition: opacity 0.5s linear;
}


.sharepane {
  display:none;
  margin-top:15px;
}
.sharepane.selected {
  display:block;
}
pre {
  -webkit-user-select: text;
  color:#34495e;
}
.slider {
  display:inline-block;
  width:400px;
  margin-left:1em;
  margin-right:2em;
}
div.gradient {
  box-sizing: content-box;
  width:120px;
  height:40px;
  display:inline-block;
  border:4px solid black;
  border-radius:8px;
  margin:0 0.3em;
}
div.gradient:hover {
  border-color:white;
  transition:0.25s;
}
canvas.gradient {
  position:fixed;
  z-index: auto;
}

.alertbox {
  position:fixed;
  width:40%;
  bottom:0em;
  left:1em;
  display:none;
}
.infobox {
  -webkit-user-select: auto;
  font-size:90%;
}
span.slider-label {
  display:inline-block;
  min-width:6em;
  text-align:left;
  padding: 0 0.3em;
}
.key {
  display:inline-block;
  letter-spacing:0.1em;
  border:1px solid #888;
  border-radius:4px;
  padding:0px 4px;
  margin:0px 0px;
  font-size:75%;
  min-width:1.8em;
  text-align:center;
}