body {
	-webkit-user-select: none;
	font-family:  Verdana, sans-serif;
	color:#CCC;
}

.menuitem.hidden {
	display:none;
}

#menusystem {
	position:absolute;
	box-sizing: border-box;
	width:100%;
}

#palettecanvas {
}
#palettecanvascontainer {
	width:100%;
	border:5px solid black;
}

#menubar {
	font-size:22px;
}

#menubar:hover {
	-webkit-transition:background .2s ease-in;
	background: rgba(0,0,0,0.1);
}

.menuitem {
	padding:0.5em 1em;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
	display:inline-block;
}

.menuitem.selected {
	color:#FFF;
	background: rgba(0,0,0,0.66);	
}

.menuitem.right {
	float:right;
}

.menuitem:hover {
	-webkit-transition:color .15s ease-in;
	color:#FFF;
	cursor:pointer;
}

canvas {
	display:block;
}

.pane {
	font-size:22px;
	padding:1em;
	background: rgba(0,0,0,0.66);	
}

.pane.hidden {
	display:none;
}

.pane button {
	background:none;
	border:none;
	padding:0.4em 0.8em;
	margin:0;
}

.pane button:focus {outline:0;}

.pane button:hover {
	color:#EEE;
	background: rgba(255,255,255,0.05);	
}

.pane button.selected {
	color:#EEE;
	background: rgba(255,255,255,0.15);	
}

.debug {
	font-size:18px;
	font-family:monospace;
	-webkit-user-select: text;
}
.debug b {
	color:#F88;
	font-weight:normal;
}