<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title>FractalJS</title>
  </head>
  <body>
    <div id='fractaljs-app' class="ui">
      <canvas id="main"
        v-bind:class="{offset: ui.showSidebar}"
        v-on:mousemove="onMouseMove"
        v-on:mouseleave="misc.isMouseOnCanvas = false"
        v-on:mouseenter="misc.isMouseOnCanvas = true"> </canvas>
      <canvas id="graphic"
        v-bind:class="{offset: ui.showSidebar}"></canvas>
      <div class="burger" v-on:click="toggleSidebar(true)">
          <i class="material-icons">menu</i>
      </div>

      <div class="sidebar" v-bind:class="{visible: ui.showSidebar}" v-bind:style="sidebarStyle">
          <div class="toolbox">
            <span class="switch" v-on:click="toggleSidebar(false)">
              <i class="material-icons">arrow_back</i>
              </span><span class="tab" v-bind:class="{selected:ui.tab==='fractal'}" v-on:click="setTab('fractal')">
              <i class="material-icons">home</i>
              </span><span class="tab" v-bind:class="{selected:ui.tab==='palette'}" v-on:click="setTab('palette')">
              <i class="material-icons">invert_colors</i>
              </span><span class="tab" v-bind:class="{selected:ui.tab==='share'}" v-on:click="setTab('share')">
              <i class="material-icons">share</i>
              </span><span class="tab" v-bind:class="{selected:ui.tab==='settings'}" v-on:click="setTab('settings')">
              <i class="material-icons">settings</i>
              </span><span class="tab" v-bind:class="{selected:ui.tab==='info'}" v-on:click="setTab('info')">
              <i class="material-icons">info_outline</i>
              </span>
          </div>

          <div class="content" v-bind:class="{visible:ui.tab==='welcome'}">
            <div class="welcome">
              <p v-if="ui.isMobile" style='color:#c62828; font-weight:bold'>
                <i class="material-icons" style="float:left; margin:0 10px">warning</i>
                FractalJS does not work properly on mobile devices, yet. Prefer a desktop computer.
              </p>
              <h1>Welcome to FractalJS</h1>
              <p><a href='https://en.wikipedia.org/wiki/Fractal'>Fractals</a> are fascinating mathematical objects
              that exhibit repeating
              <a href='https://en.wikipedia.org/wiki/Mandelbrot_set'>patterns</a>
              at every scale.
              </p>
              <p>FractalJS is a realtime
                <a href='https://en.wikipedia.org/wiki/Fractal-generating_software'>fractal exporer</a>.
              <p>
              <p>Navigate the picture with
              <p class="ex"><i class="material-icons">mouse</i> Mouse : drag & scroll wheel<p>
              <p class="ex"><i class="material-icons">keyboard</i> Keyboard :
                <small>
                  <span class="key">&#x2190;</span> <span class="key">&#x2191;</span> <span class="key">&#x2192;</span> <span class="key">&#x2193;</span> , <span class="key">+</span> <span class="key">-</span>
                </small>
              <p>
              <p>
              <p>Use the following menus
              <p class="ex"><i class="material-icons">arrow_back</i> Hide this panel<p>
              <p class="ex"><i class="material-icons">home</i> Pick a fractal set<p>
              <p class="ex"><i class="material-icons">palette</i> Choose a color scheme<p>
              <p class="ex"><i class="material-icons">share</i> Share this fractal picture<p>
            </div>
          </div>

          <div class="content" v-bind:class="{visible:ui.tab==='fractal'}">
            <div class="list">
              <div class="subheader accent">Pick a fractal set</div>
              <div v-for="type in fractalTypes">
                <div class="list-item-one-line selectable"
                  v-bind:class="{selected:type.type === param.type}"
                  v-on:click="changeFractalType(type.type)">
                  <div class="text" v-html="type.name"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="content" v-bind:class="{visible:ui.tab==='palette'}">
            <div class="list">
              <div class="subheader accent">Choose a color scheme</div>
              <div class="list-item-misc">
                <div class="swatches">
                  <div class="swatch"
                    v-for="grad in gradients"
                    v-bind:class="{selected: grad.id === param.gradientId}"
                    v-on:click="changeGradient(grad.id)">
                    <img v-bind:src="grad.dataURL" />
                    <span class="border"></span>
                  </div>
                </div>
              </div>
              <div class="subheader">Move and stretch the colors</div>
              <div class="list-item-slider">
                <div id="slider_offset"></div>
              </div>
              <div class="list-item-slider">
                <div id="slider_density"></div>
              </div>
            </div>
          </div>

          <div class="content" v-bind:class="{visible:ui.tab==='settings'}">
            <div class="list">
              <div class="subheader accent">Adanced settings</div>
              <input type="checkbox" id="smooth" v-model="param.smooth" v-on:change="changeSmooth()"/>
              <label class="list-item-checkbox" for="smooth">
                  <span class="checkbox"><i class="material-icons">done</i></span>
                  <span class="label">Smooth rendering</span>
              </label>
              <input type="checkbox" id="infobox" v-model="ui.showInfobox" v-on:change="showInfobox()"/>
              <label class="list-item-checkbox" for="infobox" >
                  <span class="checkbox"><i class="material-icons">done</i></span>
                  <span class="label">Information box</span>
              </label>
            </div>
          </div>

          <div class="content" v-bind:class="{visible:ui.tab==='share'}">
            <div class="list">
              <div class="subheader accent">Share this fractal picture</div>
              <div class="list-item-misc">
                <p>
                Current URL can be bookmarked and exchanged. Other options:
                </p>
              </div>
              <div class="list-item-misc social">
                <div class="ssk-group" data-text="A nice fractal picture !">
                  <a href="" class="ssk ssk-facebook"></a>
                  <a href="" class="ssk ssk-twitter"></a>
                  <a href="" class="ssk ssk-google-plus"></a>
                  <!-- <a href="" class="ssk ssk-pinterest"></a> -->
                  <a href="" class="ssk ssk-tumblr"></a>
                  <a href="" class="ssk ssk-linkedin"></a>
                </div><br/>
                <a id="download_link" class="ssk ssk-text" download="fractal.png"
                  v-bind:href="misc.dataurl"
                  v-on:click="downloadPicture()">
                  <i class="material-icons fa" style="font-size:22px;">file_download</i>
                  Download Picture
                </a><br/>
                <a href="#" class="ssk ssk-text ssk-email" target="_blank" data-title="A nice fractal picture !" >
                  Email
                </a>
              </div>
              <hr />
              <div class="subheader accent">Follow FractalJS</div>
              <div class="list-item-misc">
                <p>
                <a href="https://twitter.com/solendil" class="twitter-follow-button" data-show-count="false" data-show-screen-name="true" data-size="large">Follow @solendil</a>
                <br /><br />
                </p>
                <p>Enjoy featured fractal pictures.<br /> Get informed of the latest features.</p>
              </div>
            </div>
          </div>

          <div class="content" v-bind:class="{visible:ui.tab==='info'}">
            <div class="list">
              <div class="subheader accent">Controls</div>
              <div class="list-item-more">
                  <div class="avatar">
                      <i class="material-icons">mouse</i>
                  </div>
                  <div class="text">
                    Mouse<br/><small>Pan &amp; wheel</small>
                  </div>
              </div>
              <!--
              <div class="list-item-more">
                  <div class="avatar">
                      <i class="material-icons">touch_app</i>
                  </div>
                  <div class="text">
                    Touch<br/><small>Swipe &amp; Pinch</small>
                  </div>
              </div>
              -->
              <div class="list-item-more">
                  <div class="avatar">
                      <i class="material-icons">keyboard</i>
                  </div>
                  <div class="text">
                    Keyboard<br />
                    <small>
                      <span class="key">&#x2190;</span> <span class="key">&#x2191;</span> <span class="key">&#x2192;</span> <span class="key">&#x2193;</span> , <span class="key">+</span> <span class="key">-</span>
                      <br/>
                      (+ <span class="key">S</span> <span class="key">H</span> <span class="key">R</span>
                      , <span class="key">V</span> )
                      <br/>
                      (+ <span class="key">shift</span> )
                    </small>
                  </div>
              </div>
              <hr />
              <div class="subheader accent" @click="ui.tab='welcome'">About</div>

              <div class="list-item-misc">
                <p>FractalJS is open-source. You can report bugs, or add you favorite fractal set by heading to <a target='_blank' href='https://github.com/solendil/fractaljs/'>GitHub</a>.
                  <br/><br/>
                </p>
                <iframe src="https://ghbtns.com/github-btn.html?user=solendil&repo=fractaljs&type=star&count=true&size=large"
                frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
              </div>
            </div>
          </div>

      </div>

      <div class="toolbar">
          <div class="icon" v-if="misc.viewportChanged" @click="resetViewport()">
            <i class="material-icons">screen_rotation</i>
            <div class="tooltip">Reset Viewport</div>
          </div>
      </div>

      <div class="infobox" v-bind:class="{ visible: ui.showInfobox }">
          <div v-if="misc.isMouseOnCanvas">
            <div class="title">Mouse</div>
            X : {{ info.mouse.x }}<br>
            Y : {{ info.mouse.y }}<br>
            iterations : {{ info.mouse.iter }}<br>
            extent :  {{ info.global.w }}
          </div>
          <div v-if="!misc.isMouseOnCanvas">
            <div class="title">Screen</div>
            X : {{ info.global.x }}<br>
            Y : {{ info.global.y }}<br>
            iterations : {{ info.global.iter }}<br>
            extent :  {{ info.global.w }}
          </div>
      </div>

      <div class="snackbar" v-bind:class="{ visible: snack.visible }">
        {{ snack.title }}
      </div>

    </div>
    <script type="text/javascript">
      if (document.location.hostname.search("solendil.github.io") !== -1) {
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-62026247-1', 'auto');
        ga('send', 'pageview');
      }
    </script>
    <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </body>
</html>
