$primary:#3F51B5; /* Indigo 500 */

* {
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

canvas {
  position:fixed;
  left:0;
  transition:left 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  &.offset {
      left:150px;
      transition:left 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  }
}

.burger {
  position:absolute;
  padding:16px 16px;
  color:white;
  line-height:0px;
  display:inline-block;
  cursor:pointer;
  background-color:rgba(0,0,0,0.2);
  &:hover {
      background-color:$primary;
      box-shadow:2px 2px 5px 0px rgba(0,0,0,0.4);
      transition:all 0.2s ease-in-out;
  }
}
